@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --red: rgba(255, 9, 9, 0.86);
    --white: #fff;
    --dark: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, html {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*--------------- HEADER NAVIGATION ---------------*/

header {
    background-color: var(--dark);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-bar .nav-list li a {
    padding: 23px 15px;
    color: var(--white);
    transition: all 200ms ease-in;
}

.nav-list ul li a:hover {
    background-color: #2b2b2b;
    border-bottom: 4px solid var(--red);
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--red);
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 991px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
}

/*--------------- MAIN CONTENT ----------------*/

main {
    flex: 1; 
    padding: 20px;
    background-color: var(--white);
}

#movie-section {
    text-align: center;
    margin: 80px 0; 
}

#movie-info {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#movie-info img {
    max-width: 100%;
    border-radius: 10px;
    height: auto; 
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--dark);
}

h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--red);
}

p {
    font-size: 1rem;
    margin: 5px 0;
    color: var(--dark);
}

/*--------------------- FOOTER ----------------------*/

footer {
    background: var(--dark);
    color: var(--white);
    text-align: center;
    padding: 10px;
    width: 100%;
}

.main-content-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.section-footer {
    padding: 10px 0;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}
